<app-breadcrumbs [label] = "breadcrumb">
</app-breadcrumbs>
<div class="container">
  <div class="row">
    <div class="col-md-10">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3 class="text-center">
            Adding new video cource Item
          </h3>
          <form [formGroup] = "addUpdateVideoCourseItem" class="form form-signup">
            <div class="form-group col-md-12 padding-left-0px">
              <label>
                Title:
              </label>
              <div 
                  *ngIf="addUpdateVideoCourseItem.controls['videoCourseTitle'].invalid 
                        && addUpdateVideoCourseItem.controls['videoCourseTitle'].errors.maxlength
                        && (addUpdateVideoCourseItem.controls['videoCourseTitle'].dirty || addUpdateVideoCourseItem.controls['videoCourseTitle'].touched)"
                  class="alert alert-danger">
                Course title shouldn't be more than 50 characters
              </div>
              <div 
                  *ngIf="addUpdateVideoCourseItem.controls['videoCourseTitle'].invalid 
                        && addUpdateVideoCourseItem.controls['videoCourseTitle'].errors.required
                        && (addUpdateVideoCourseItem.controls['videoCourseTitle'].dirty || addUpdateVideoCourseItem.controls['videoCourseTitle'].touched)"
                  class="alert alert-danger">
                Course title required
              </div>
              <div class="input-group">
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-pencil">
                  </span>
                </span>
                <input 
                    type="text"
                    class="form-control"
                    placeholder="Video cource title"
                    formControlName = "videoCourseTitle" 
                    [ngClass]="{'red-border': addUpdateVideoCourseItem.controls['videoCourseTitle'].errors && addUpdateVideoCourseItem.controls['videoCourseTitle'].touched}"/>
              </div>
            </div>
            <div class="form-group col-md-12 padding-left-0px">
              <label>
                Description:
              </label>
              <div 
                  *ngIf="addUpdateVideoCourseItem.controls['videoCourseDescription'].invalid 
                        && addUpdateVideoCourseItem.controls['videoCourseDescription'].errors.maxlength
                        && (addUpdateVideoCourseItem.controls['videoCourseDescription'].dirty || addUpdateVideoCourseItem.controls['videoCourseDescription'].touched)"
                  class="alert alert-danger">
                Course description shouldn't be more than 500 characters
              </div>
              <div 
                  *ngIf="addUpdateVideoCourseItem.controls['videoCourseDescription'].invalid 
                        && addUpdateVideoCourseItem.controls['videoCourseDescription'].errors.required
                        && (addUpdateVideoCourseItem.controls['videoCourseDescription'].dirty || addUpdateVideoCourseItem.controls['videoCourseDescription'].touched)"
                  class="alert alert-danger">
                Course description required
              </div>
              <div class="input-group">
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-pencil">
                  </span>
                </span>
                <textarea 
                    class="form-control description"
                    placeholder="Description"
                    formControlName="videoCourseDescription"
                    [ngClass]="{'red-border': addUpdateVideoCourseItem.controls['videoCourseDescription'].errors && addUpdateVideoCourseItem.controls['videoCourseDescription'].touched}">
                </textarea>
              </div>
            </div>
            <div class="form-group col-md-6 padding-left-0px">
              <label>
                Date:
              </label>
              <div 
                  *ngIf="addUpdateVideoCourseItem.controls['videoCourseReleaseDate'].invalid 
                          && addUpdateVideoCourseItem.controls['videoCourseReleaseDate'].errors.required
                          && (addUpdateVideoCourseItem.controls['videoCourseReleaseDate'].dirty || addUpdateVideoCourseItem.controls['videoCourseReleaseDate'].touched)"
                  class="alert alert-danger">
                Course release date required
              </div>
              <div 
                  *ngIf="addUpdateVideoCourseItem.controls['videoCourseReleaseDate'].invalid 
                          && addUpdateVideoCourseItem.controls['videoCourseReleaseDate'].errors.date
                          && (addUpdateVideoCourseItem.controls['videoCourseReleaseDate'].dirty || addUpdateVideoCourseItem.controls['videoCourseReleaseDate'].touched)"
                  class="alert alert-danger">
                Course release date is incorrect. Correct format is: dd/MM/yyyy
              </div>
              <div class="input-group">
                <app-date-time-picker
                    formControlName="videoCourseReleaseDate"
                    appDateValidator
                    [ngClass]="{'red-border': addUpdateVideoCourseItem.controls['videoCourseReleaseDate'].errors && addUpdateVideoCourseItem.controls['videoCourseReleaseDate'].touched}" >
                </app-date-time-picker>
              </div>
              
            </div>
            <div class="form-group col-md-6 padding-left-0px">
              <label>
                Duration:
              </label>
              <div class="input-group">
                <app-duration
                    formControlName = "videoCourseDuration"
                    appDurationValidator>
                </app-duration>
              </div>
              <div 
                  *ngIf="addUpdateVideoCourseItem.controls['videoCourseDuration'].invalid 
                          && addUpdateVideoCourseItem.controls['videoCourseDuration'].errors.required
                          && (addUpdateVideoCourseItem.controls['videoCourseDuration'].dirty || addUpdateVideoCourseItem.controls['videoCourseDuration'].touched)"
                  class="alert alert-danger">
                Course duration date required
              </div>
            </div>
            <div class="form-group col-md-12 padding-left-0px">
                <label>
                  Autors:
                </label>
                <div class="input-group">
                  <span class="input-group-addon">
                    <span class="glyphicon glyphicon-pencil">
                    </span>
                  </span>
                  <app-author
                      (authorOutput) = "authorChanged($event)">
                  </app-author>
                </div>
            </div>
            <div class="form-group">
              <button 
                  class="btn btn-sm btn-primary col-md-2"
                  (click)="newItemVideoCourse()"
                  [disabled]="!addUpdateVideoCourseItem.valid">
                Save
              </button>
              <button 
                  class="btn btn-sm btn-secondary col-md-2 align-self-end"
                  (click)="rejectNewItemVideoCourse()">
                Cancel
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>