<app-header>
</app-header>
<app-breadcrumbs 
    *ngIf="checkIfUserLogin">
</app-breadcrumbs>
<app-loginform 
    *ngIf="!checkIfUserLogin"></app-loginform>
<div 
    class="row">
  <app-search
      class="col-10"
      (searchTextOutput) = "filterVideoCource($event)"
      *ngIf="checkIfUserLogin" >
  </app-search>
  <app-video-course-add-new 
      class="col-2"
      *ngIf="checkIfUserLogin">
  </app-video-course-add-new>
</div>
<app-video-courses-list-component
    [searchVideoCource] = "searchText"
    *ngIf="checkIfUserLogin">
</app-video-courses-list-component>
<app-footer>
</app-footer>
