.header-logo-image{
    width: 10%;
}

.header-float-right-and-center {
    float: right;
    margin-top: 2%;
}

.header-website-name {
    position: absolute;
    margin-top: 2%
}

.header-login-information {
    padding-right: 1%;
}