.video-course-button-width {
    width: 80%;
}

.video-course-duration {
    text-align: center;
}

.top-rated-image{
    width: 25px;
    height: 25px;
    margin-left: 5px;
}

.padding-left-inherit {
    padding-left: inherit;
}