<div class="alert alert-primary">
    <div class=row>
        <div class="col-11">
            <div class="row">
                <div class="col-8">
                    <h5>{{VCItem.Title}}</h5>
                </div>
                <div class="col-4 video-course-duration">
                    <p><b>Duration:</b>{{((VCItem.Duration - VCItem.Duration % 60) / 60) }} h {{VCItem.Duration % 60}} m<b>Release date:</b> {{VCItem.Creationdate | date}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p>{{VCItem.Description}}</p>
                </div>
            </div>
        </div>
        <div class="col-1">
            <input type="button" value="Update" class="btn video-course-button-width">
            <input type="button" value="Delete" (click)="deleteVideoCourseItem($event)" class="btn btn-danger video-course-button-width">        
        </div>
    </div>
</div>
