<div class="alert alert-primary">
  <div class="row">
    <div class="col-8">
        <h5>Video cource title</h5>
    </div>
    <div class="col-2 video-course-duration">
        <p>Duration</p>
    </div>
    <div class="col-2">
        <input type="button" value="Update" class="btn video-course-button-width">
    </div>
  </div> 
  <div class="row">
      <div class="col-10">
          <p>Video</p>
      </div>
      <div class="col-2">
        <input type="button" value="Delete" class="btn btn-danger video-course-button-width"> 
    </div>
  </div>
</div>
